---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40">
    <Container>
      <div class="mx-auto text-center hover:font-bold text-gray-800 dark:text-white">
        © 2023 Ethereal Technological Research & Exploration Labs. 
      </div>
    </Container>
</footer>